body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #020202;
    color: white;
}

header {
    background-color: #c3440d;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    height: auto;
    margin: 0 10px;
}

#rightLogo {
    transform: scaleX(-1);
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#search-input {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main {
    padding: 20px;
}

#movie-info {
    margin-top: 20px;
    text-align: center;
}

#recommended-movies {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}

.movie-poster {
    width: 150px;
    height: 225px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
}

.movie-poster img {
    width: 100%;
    height: auto;
}

.movie-poster:hover {
    transform: scale(1.05);
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #4CAF50; /* Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
